*{margin: 0; padding: 0}

div {
    border: 2px solid gray;
    padding: 8px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: lightgray;
}

p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 1px;
    color:rgb(31, 91, 136);
    
}

a {
    text-decoration: none;
    color: #008CBA;
}
body {
    background-image: url("fondo.jpg");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
